* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
blockquote {
	margin: 0;
}

ul,
ol,
li {
	list-style: none;
}

input,
button,
.btn {
	border: 0px;
	&:focus,
	&:active {
		outline: none;

		box-shadow: none;
	}
}

a {
	text-decoration: none;
}

button {
	overflow-x: hidden;
	display: inline-block;
	background-color: transparent;
}

body {
	font-weight: 400;
	font-family: "Poppins", sans-serif;
}
