.blog {
	position: relative;
	padding: 90px 0px;

	&-content {
		display: flex;
		transition: all 0.3s ease-in;
		@include max(991px) {
			flex-direction: column;
		}
	}

	&-img {
		width: 535px;
		height: 556px;
		flex-shrink: 0;
		overflow: hidden;
		position: relative;
		border-radius: 24px;
		margin-right: 120px;
		@include max(1200px) {
			margin-right: 60px;
		}
		@include max(991px) {
			margin: 0px;
			width: 100%;
			height: 320px;
			margin-bottom: 24px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&-text {
		span {
			color: #474747;
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 12px;
			display: inline-block;
			text-transform: uppercase;
		}

		h2 {
			font-size: 44px;
			line-height: 58px;
			font-weight: 700;
			margin-bottom: 32px;
			text-transform: capitalize;
			font-family: $font-roboto;
			@include max(767px) {
				font-size: 32px;
				line-height: 46px;
				margin-bottom: 24px;
			}
		}

		p {
			font-size: 21px;
			color: #686868;
			line-height: 31px;
			margin-bottom: 90px;
			@include max(767px) {
				font-size: 16px;
				line-height: 26px;
				margin-bottom: 24px;
			}
		}

		.redirect {
			color: #3d3c3c;
			font-size: 18px;
			font-weight: 700;
			line-height: 21px;
			text-transform: capitalize;
			&:hover {
				span {
					transform: translateX(6px);
				}
			}
			span {
				transform: translateX(12px);
				transition: all 0.3s ease-in-out;
			}
		}
		.btn {
			width: 260px;
			height: 60px;
			font-size: 22px;
			line-height: 33px;
			border-radius: 30px;
			border: 0px;
			&:hover {
				background-color: $blue-e0;
			}
		}
	}

	&-icon {
		width: 280px;
		display: flex;
		height: 120px;
		align-items: center;
		border-radius: 21px;
		position: absolute;
		left: 12px;
		top: calc(100% - 42px);
		justify-content: center;
		background-color: #fff;
		box-shadow: -1px 15px 34px 2px rgba(0, 0, 0, 0.27);
		-webkit-box-shadow: -1px 15px 34px 2px rgba(0, 0, 0, 0.27);
		-moz-box-shadow: -1px 15px 34px 2px rgba(0, 0, 0, 0.27);
		@include max(991px) {
			width: 220px;
			height: 80px;
		}
		@include max(767px) {
			width: 140px;
			height: 60px;
			top: calc(100% - 24px);
		}
		img {
			width: 178px;
			object-fit: contain;
			@include max(991px) {
				width: 160px;
			}
			@include max(767px) {
				width: 80%;
			}
		}
	}

	&-feature {
		.blog {
			&-img {
				overflow: visible;
				@include max(991px) {
					margin-bottom: 60px;
				}
				img {
					border-radius: 24px;
				}
			}

			&-text {
				p {
					margin-bottom: 14px;
				}
				.redirect {
					margin-bottom: 60px;
					display: inline-block;
					@include max(767px) {
						margin-bottom: 24px;
					}
				}
			}
		}
	}

	&-portfolio {
		padding: 120px 0px;
		padding-bottom: 240px;
		background-color: #f8f8f8;
		@include max(1024px) {
			padding: 90px 0px;
		}
		.blog {
			&-content {
				align-items: center;
				@include max(1024px) {
					flex-direction: column;
				}
			}

			&-text {
				@include max(1024px) {
					order: 2;
					width: 100%;
					text-align: center;
				}

				@include max(991px) {
					text-align: left;
				}
				p {
					margin-bottom: 20px;
				}

				.redirect {
					font-size: 21px;
					line-height: 31px;
					color: #7e7e7e;
					font-weight: 400;
					margin-bottom: 30px;
					text-transform: lowercase;
					overflow: hidden;
					position: relative;
					padding: 12px 40px;
					border-radius: 26px;
					background-color: #fff;
					display: flex;
					align-items: center;
					box-shadow: -6px 23px 64px -31px rgba(0, 0, 0, 0.63);
					-webkit-box-shadow: -6px 23px 64px -31px rgba(0, 0, 0, 0.63);
					-moz-box-shadow: -6px 23px 64px -31px rgba(0, 0, 0, 0.63);
					@include max(1024px) {
						font-size: 16px;
						width: 50%;
						margin: 24px auto;
					}

					@include max(991px) {
						width: 100%;
					}
					span {
						margin: 0;
						transform: translateX(-6px);
					}
					&:hover {
						span {
							transform: translateX(-2px);
						}
					}
				}

				.btn {
					width: 312px;
					border-radius: 70px;
					height: 70px;
					@include max(1024px) {
						width: 280px;
						margin: auto;
					}
					@include max(991px) {
						margin: 0px;
					}
				}
			}

			&-img {
				margin: 0;
				margin-left: 120px;
				overflow: visible;
				@include max(1200px) {
					margin-left: 60px;
				}
				@include max(1024px) {
					order: 1;
					margin: 0px;
					height: auto;
					margin-bottom: 48px;
				}
			}

			&-icon {
				cursor: pointer;
				color: #484848;
				font-size: 18px;
				line-height: 28px;
				font-weight: 700;
				left: auto;
				right: 125px;
				width: 305px;
				height: 105px;
				box-shadow: none;
				border-radius: 0px;
				text-transform: uppercase;
				@include max(1024px) {
					right: 0px;
					height: 60px;
					top: calc(100% - 36px);
				}
				span {
					margin-left: 12px;
				}
			}
		}
	}
}
