header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: $blue-27;
	.navbar {
		padding: 30px 0px;
		padding-bottom: 12px;
		@include max(991px) {
			padding: 12px 0px;
		}
		&-toggler {
			background-color: #fff;
		}

		.nav {
			&-item {
				display: flex;
				align-items: center;
				padding: 0px 18px !important;
				@include max(991px) {
					padding: 12px 18px !important;
				}
			}

			&-link {
				font-size: 12px;
				line-height: 18px;
				position: relative;
				padding: 0px !important;
				color: #fff !important;
				text-transform: capitalize;
				&::before {
					content: "";
					top: calc(100% + 4px);
					left: 0%;
					width: 100%;
					height: 2px;
					opacity: 0;
					border-radius: 4px;
					position: absolute;
					background-color: $blue-e0;
					transition: all 0.3s ease-out;
				}

				&:hover,
				&.active {
					&::before {
						opacity: 1;
					}
				}
			}

			&-btn {
				width: 140px;
				height: 30px;
				display: flex;
				overflow: hidden;
				position: relative;
				white-space: nowrap;
				align-items: center;
				border-radius: 24px;
				text-overflow: ellipsis;
				justify-content: center;
				transition: all 0.3 ease-in;
				background-color: $blue-e0;
				border: 1px solid transparent;
				&:hover {
					border-color: #ffff;
					background-color: $blue-27;
				}

				&:nth-child(1) {
					margin-right: 16px;
				}
				&::before {
					display: none;
				}

				&--sm {
					width: 108px;
					text-transform: uppercase;
					// border: 1px solid #fff;
					// background-color: transparent;
				}
			}
		}
	}
}
