.investment {
	position: relative;
	background-color: #f8f8f8;
	@include max(1200px) {
		padding: 90px 0px;
	}
	&-content {
		top: -50%;
		z-index: 1;
		width: 70%;
		left: 50%;
		padding: 44px;
		margin: 0px 24px;
		position: absolute;
		border-radius: 24px;
		background-color: #fff;
		transform: translate(-50%, -50%);
		box-shadow: -4px 10px 28px -17px rgba(0, 0, 0, 0.47);
		-webkit-box-shadow: -4px 10px 28px -17px rgba(0, 0, 0, 0.47);
		-moz-box-shadow: -4px 10px 28px -17px rgba(0, 0, 0, 0.47);
		@include max(1280px) {
			width: 90%;
		}

		@include max(1200px) {
			width: 100%;
			top: 0;
			left: 0;
			margin: 0px;
			transform: translate(0);
			position: relative;
		}
	}

	&-initial {
		margin-top: 30px;
		text-align: center;

		span {
			font-size: 18px;
			color: #3e3e3e;
			line-height: 28px;
			text-transform: capitalize;
		}
		h6 {
			color: $blue-e0;
			font-size: 32px;
			font-weight: 700;
			line-height: 42px;

			span {
				color: inherit;
				font-size: inherit;
				line-height: inherit;
				transform: all 0.4s linear;
			}
		}
	}
}
