.timeline {
	padding: 240px 0px;
	padding-top: 90px;
	position: relative;
	background-color: #f1f2f3;
	@include max(991px) {
		padding: 90px 0px;
	}
	&-heading {
		text-align: center;
		margin-bottom: 190px;
		@include max(991px) {
			margin-bottom: 48px;
		}
		h2 {
			font-size: 44px;
			font-weight: 700;
			line-height: 58px;
			position: relative;
			font-family: $font-roboto;
			text-transform: capitalize;

			@include max(767px) {
				font-size: 32px;
			}

			&::after {
				content: "";
				width: 6%;
				height: 4px;
				bottom: -12px;
				left: 50%;
				border-radius: 4px;
				position: absolute;
				transform: translateX(-50%);
				background-color: $blue-e0;
			}
		}
	}

	&-content {
		display: grid;
		gap: 14px;
		grid-template-columns: repeat(6, 1fr);

		@include max(991px) {
			grid-template-columns: 1fr;
			grid-auto-rows: 220px;
		}
	}

	&-btn {
		color: #fff;
		width: 100%;
		height: 60px;
		display: flex;
		font-size: 18px;
		line-height: 20px;
		align-items: center;
		justify-content: center;
		position: relative;
		text-align: center;
		border-radius: 10px;
		background-color: $blue-e0;
		&:hover {
			background-color: $blue-27;

			&::after,
			&::before {
				border-color: $blue-e0 !important;
				background-color: $blue-e0;
			}
		}

		&::after,
		&::before {
			content: "";
			left: 50%;
			position: absolute;
			transition: all 0.1s linear;
			transform: translateX(-50%);
		}

		&::after {
			content: "";
			width: 24px;
			height: 24px;
			border: 3px solid $blue-27;
			border-radius: 50%;
		}

		&::before {
			width: 4px;
			height: 40px;
			background-color: $blue-27;
		}
	}

	&-card {
		position: relative;

		&:hover {
			blockquote {
				opacity: 1;
				visibility: visible;
			}
		}

		blockquote {
			text-align: center;
			position: absolute;
			left: 50%;
			width: 100%;
			transform: translateX(-50%);

			h2 {
				color: #3d3c3c;
				font-size: 16px;
				font-weight: 700;
				line-height: 1.4;
				margin-bottom: 8px;
				text-transform: capitalize;
			}

			p {
				color: #686868;
				font-size: 14px;
				line-height: 1.2;
			}
		}

		&:nth-child(1),
		&:nth-child(3),
		&:nth-child(5) {
			blockquote {
				top: calc(100% + 70px);
				@include max(991px) {
					top: 70%;
				}
			}

			.timeline-btn {
				&::after {
					bottom: -62px;
				}

				&::before {
					bottom: -40px;
				}
			}
		}

		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(6) {
			@include min(992px) {
				.timeline-btn {
					&::after {
						top: -62px;
					}
					&::before {
						top: -40px;
					}
				}
				blockquote {
					bottom: calc(100% + 70px);
				}
			}

			@include max(991px) {
				blockquote {
					top: 70%;
				}

				.timeline-btn {
					&::after {
						bottom: -62px;
					}

					&::before {
						bottom: -40px;
					}
				}
			}
		}
	}
}
