.token {
	position: relative;
	padding: 90px 0px;
	@include max(991px) {
		padding-bottom: 0px;
	}
	&-heading {
		text-align: center;
		h2 {
			font-size: 44px;
			font-weight: 700;
			line-height: 58px;
			position: relative;
			margin-bottom: 40px;
			font-family: $font-roboto;
			text-transform: capitalize;
			@include max(991px) {
				font-size: 32px;
				margin-bottom: 24px;
				line-height: 1.2;
			}
			&::after {
				content: "";
				position: absolute;
				bottom: -8px;
				left: 50%;
				height: 4px;
				width: 8%;
				background-color: $blue-e0;
				transform: translateX(-50%);
			}
		}

		p {
			font-size: 21px;
			font-weight: 700;
			color: #343131;
			line-height: 31px;
			@include max(991px) {
				font-size: 16px;
				line-height: 1.2;
			}
		}
	}

	&-progress-bar {
		margin: 120px 0px;
		height: 6px;
		width: 100%;
		border-radius: 6px;
		position: relative;
		margin-bottom: 160px;
		background-color: #cfcfcf;
		@include max(991px) {
			margin: 400px 0px;
			transform: rotate(90deg);
		}
		@include max(767px) {
			margin: 315px 0px;
		}

		@include max(425px) {
			margin: 250px 0px;
		}
		.progress-line {
			position: absolute;
			top: 0;
			left: 0;
			width: 0%;
			height: 100%;
			border-radius: 6px;
			background-color: $blue-e0;
			transition: all 2.6s linear;
		}
	}

	&-texts {
		width: 100%;

		p {
			margin: 0;
			color: #474747;
			font-size: 14px;
			line-height: 18px;
			position: absolute;
			text-transform: uppercase;

			@include max(991px) {
				transform: rotate(-90deg);
			}

			@include max(425px) {
				max-width: 180px;
				text-align: center;
			}

			&:nth-child(1),
			&:nth-child(3) {
				top: -30px;
				@include max(991px) {
					top: 115px;
				}

				@include max(425px) {
					top: 100px;
				}

				@include max(375px) {
					top: 75px;
				}
			}

			&:nth-child(1) {
				left: 15px;
				@include max(991px) {
					left: -15px;
				}

				@include max(767px) {
					left: -45px;
				}

				@include max(480px) {
					left: -55px;
				}

				@include max(375px) {
					left: -62px;
				}
			}

			&:nth-child(3) {
				left: 32%;

				@include max(767px) {
					left: 25%;
				}

				@include max(480px) {
					left: 22%;
				}

				@include max(425px) {
					left: 20%;
				}

				@include max(375px) {
					left: 18%;
				}
			}

			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(5) {
				bottom: -50px;
			}

			&:nth-child(2) {
				left: 18%;
				@include max(991px) {
					left: 12%;
					bottom: 125px;
				}

				@include max(767px) {
					left: 15%;
				}

				@include max(425px) {
					left: 20%;
					bottom: 85px;
				}
			}

			&:nth-child(4) {
				left: 60%;
				@include max(991px) {
					left: 42%;
					bottom: -125px;
				}
				@include max(767px) {
					left: 38%;
				}

				@include max(480px) {
					left: 36%;
				}

				@include max(425px) {
					left: 40%;
				}
				@include max(375px) {
					bottom: -108px;
				}
			}
			&:nth-child(5) {
				right: 0px;

				@include max(991px) {
					right: -40px;
					bottom: 125px;
				}

				@include max(425px) {
					bottom: 100px;
				}
				@include max(375px) {
					bottom: 85px;
				}
			}
		}
	}

	&-dots {
		width: 100%;
		.dot {
			width: 18px;
			height: 18px;
			top: 50%;
			border-radius: 50%;
			position: absolute;
			background-color: #fff;
			transform: translateY(-50%);
			border: 4px solid #cfcfcf;

			&::before {
				content: "";
				left: 50%;
				height: 48px;
				position: absolute;
				transform: translateX(-50%);
				border: 1px dashed #707070;
			}

			&::after {
				left: 50%;
				color: $blue-e0;
				font-size: 20px;
				line-height: 20px;
				font-weight: 700;
				position: absolute;
				transform: translateX(-50%);

				@include max(767px) {
					font-size: 16px;
				}
			}

			&:nth-child(1),
			&:nth-child(3) {
				left: 15%;

				&::before {
					top: calc(100% + 2px);
				}

				&::after {
					top: 70px;
					content: "$100,000";
					@include max(991px) {
						transform: rotate(-90deg) translate(-45px, -45px);
					}
					@include max(425px) {
						transform: rotate(-90deg) translate(-45px, -40px);
					}
				}
			}

			&:nth-child(2),
			&:nth-child(4) {
				&::after {
					@include max(991px) {
						transform: rotate(-90deg) translate(45px, -45px);
					}

					@include max(425px) {
						transform: rotate(-90deg) translate(45px, -36px);
					}
				}
			}

			&:nth-child(2) {
				left: 30%;

				&::before {
					bottom: calc(100% + 4px);
				}

				&::after {
					top: -80px;
					content: "$215,000";
				}
			}

			&:nth-child(3) {
				left: 50%;

				&::after {
					content: "$345,000";
				}
			}

			&:nth-last-child(1) {
				right: 0;

				&::after {
					top: -80px;
					content: "$215,000";
				}

				&::before {
					bottom: calc(100% + 4px);
				}
			}
		}
	}

	&-actions {
		display: flex;
		align-items: center;
		justify-content: center;
		.btn {
			width: 260px;
			height: 60px;
			margin: 0px 12px;
			font-size: 22px;
			line-height: 32px;
			font-weight: 700;
			border-radius: 30px;
			border: 4px solid transparent;

			@include max(767px) {
				width: 100%;
				height: 48px;
				font-size: 16px;
				line-height: 1.2;
			}

			&:hover {
				color: #4d4d4d;
				border-color: #4d4d4d;
				background-color: transparent;
			}
		}
	}
}
