.work {
	padding: 90px 0px;
	padding-top: 320px;
	position: relative;
	background-color: #f8f8f8;
	@include max(1200px) {
		padding-top: 90px;
	}
	&-heading {
		margin-bottom: 60px;
		text-align: center;
		h2 {
			font-size: 44px;
			font-weight: 500;
			line-height: 58px;
			position: relative;
			margin-bottom: 24px;
			text-transform: uppercase;
			font-family: $font-roboto;
			@include max(767px) {
				font-size: 32px;
				line-height: 1.2;
				margin-bottom: 12px;
			}
			&::before {
				content: "";
				width: 6%;
				height: 4px;
				top: -18px;
				left: 50%;
				border-radius: 4px;
				position: absolute;
				transform: translateX(-50%);
				background-color: $blue-e0;
				@include max(767px) {
					width: 10%;
				}
			}
		}

		p {
			color: #686868;
			font-size: 21px;
			line-height: 1.1;
			font-weight: 700;
			max-width: 860px;
			margin: 0px auto;
			text-transform: capitalize;
			@include max(767px) {
				font-size: 16px;
			}
		}
	}
}
