.range-slider {
	&-title {
		color: #616161;
		font-size: 16px;
		line-height: 25px;
		text-align: center;
		min-height: 50px;
		overflow: hidden;
	}

	&-wrapper {
		.output {
			margin: 0px;
			color: $blue-e0;
			font-size: 18px;
			line-height: 27px;
		}
	}

	&-minmax {
		display: flex;
		margin-top: 2px;
		align-items: center;
		justify-content: space-between;
		span {
			font-size: 12px;
			line-height: 18px;
		}
	}
}

.noUi-horizontal {
	height: 12px;
	border: 0px;
	border-radius: 8px;
	background-color: #e1e1e1;

	.noUi-handle {
		top: calc(50% - 1px);
		right: -6px;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		border: 3px solid $blue-e0;

		&::after,
		&::before {
			display: none;
		}
	}
}
.noUi-connects {
	border-radius: 8px;
}
.noUi-connect {
	border-radius: 8px;
	background-color: $blue-e0;
}
