* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
blockquote {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

input,
button,
.btn {
  border: 0px;
}

input:focus, input:active,
button:focus,
button:active,
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  background-color: transparent;
}

body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.btn {
  color: #fff;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  align-items: center;
  border-radius: 24px;
  text-overflow: ellipsis;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.3 ease-in;
  background-color: #0dace0;
  border: 1px solid transparent;
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.counter {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.counter-shape {
  width: 98px;
  height: 98px;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid #0dace0;
}

.counter h2 {
  color: #0dace0;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
}

.counter p {
  color: #515151;
  font-size: 14px;
  line-height: 24px;
}

.article-card {
  width: 100%;
  height: 430px;
  padding: 30px 18px;
  padding-top: 42px;
  position: relative;
  border-radius: 28px;
  text-align: center;
  border: 2px solid #0dace0;
}

@media (max-width: 1400px) {
  .article-card {
    height: 100%;
  }
}

.article-card:hover blockquote a span {
  transform: translateX(6px);
}

.article-card-number {
  width: 68px;
  height: 68px;
  display: flex;
  top: -34px;
  left: 50%;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  transform: translateX(-50%);
  border: 5px solid #0dace0;
}

.article-card-number h6 {
  color: #0dace0;
  font-size: 30px;
  line-height: 46px;
  font-weight: 500;
}

.article-card-title {
  font-size: 24px;
  font-weight: 700;
  color: #686868;
  line-height: 1.2;
  margin-bottom: 24px;
}

.article-card blockquote p {
  font-size: 18px;
  line-height: 28px;
  max-height: 235px;
  overflow: hidden;
  color: #686868;
  white-space: pre-line;
  text-overflow: ellipsis;
}

@media (max-width: 1400px) {
  .article-card blockquote p {
    max-height: auto;
    max-height: 100%;
  }
}

.article-card blockquote a {
  color: #0dace0;
  font-size: 24px;
  line-height: 34px;
  text-transform: capitalize;
}

.article-card blockquote a span {
  display: inline-block;
  transition: all 0.2s linear;
  transform: translateX(12px);
}

.article-card-two {
  height: 100%;
  border: 2px solid #fff;
}

.article-card-two .article-card-number {
  border: 3px solid #fff;
  background-color: #223043;
}

.article-card-two .article-card-number h6 {
  color: #fff;
}

.article-card-two .article-card-title {
  color: #fff;
}

.article-card-two blockquote p {
  color: #fff;
  max-height: 100%;
  height: auto;
  margin: 0px;
}

.range-slider-title {
  color: #616161;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 18px;
}

.range-slider-wrapper .output {
  color: #0dace0;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 8px;
}

.range-slider-minmax {
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: space-between;
}

.range-slider-minmax span {
  font-size: 12px;
  line-height: 18px;
}

.noUi-horizontal {
  height: 18px;
  border: 0px;
  border-radius: 8px;
  background-color: #e1e1e1;
}

.noUi-horizontal .noUi-handle {
  top: calc(50% - 3px);
  right: -14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 6px solid #0dace0;
}

.noUi-horizontal .noUi-handle::after, .noUi-horizontal .noUi-handle::before {
  display: none;
}

.noUi-connects {
  border-radius: 8px;
}

.noUi-connect {
  border-radius: 8px;
  background-color: #0dace0;
}

.noUi-handle-lower {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #021327;
}

header .navbar {
  padding: 30px 0px;
  padding-bottom: 12px;
}

header .navbar-toggler {
  background-color: #fff;
}

header .navbar .nav-item {
  display: flex;
  align-items: center;
  padding: 0px 18px !important;
}

@media (max-width: 991px) {
  header .navbar .nav-item {
    padding: 12px 18px !important;
  }
}

header .navbar .nav-link {
  font-size: 12px;
  line-height: 18px;
  position: relative;
  padding: 0px !important;
  color: #fff !important;
  text-transform: capitalize;
}

header .navbar .nav-link::before {
  content: "";
  top: calc(100% + 4px);
  left: 0%;
  width: 100%;
  height: 2px;
  opacity: 0;
  border-radius: 4px;
  position: absolute;
  background-color: #0dace0;
  transition: all 0.3s ease-out;
}

header .navbar .nav-link:hover::before, header .navbar .nav-link.active::before {
  opacity: 1;
}

header .navbar .nav-btn {
  width: 140px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  align-items: center;
  border-radius: 24px;
  text-overflow: ellipsis;
  justify-content: center;
  transition: all 0.3 ease-in;
  background-color: #0dace0;
  border: 1px solid transparent;
}

header .navbar .nav-btn:hover {
  border-color: #ffff;
  background-color: #021327;
}

header .navbar .nav-btn:nth-child(1) {
  margin-right: 16px;
}

header .navbar .nav-btn::before {
  display: none;
}

header .navbar .nav-btn--sm {
  width: 108px;
  text-transform: uppercase;
}

.feature {
  padding: 90px 0px;
  position: relative;
}

.banner {
  z-index: 1;
  height: 870px;
  margin-top: 120px;
  position: relative;
}

@media (max-width: 767px) {
  .banner {
    height: 100%;
  }
}

.banner::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.562);
}

.banner-content {
  text-align: center;
  padding-top: 180px;
}

@media (max-width: 767px) {
  .banner-content {
    padding: 68px 0px;
  }
}

.banner-content h2,
.banner-content p {
  color: #fff;
}

.banner-content h2 {
  font-size: 46px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .banner-content h2 {
    font-size: 32px;
    line-height: 46px;
  }
}

.banner-content p {
  font-size: 14px;
  line-height: 21px;
  max-width: 680px;
  margin: 0px auto;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .banner-content p {
    max-width: 100%;
  }
}

.banner-actions .btn {
  width: 160px;
  height: 46px;
  margin: 0px auto;
  margin-bottom: 12px;
}

.blog {
  position: relative;
  padding: 90px 0px;
}

.blog-content {
  display: flex;
  transition: all 0.3s ease-in;
}

@media (max-width: 991px) {
  .blog-content {
    flex-direction: column;
  }
}

.blog-img {
  width: 535px;
  height: 556px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  border-radius: 24px;
  margin-right: 120px;
}

@media (max-width: 1200px) {
  .blog-img {
    margin-right: 60px;
  }
}

@media (max-width: 991px) {
  .blog-img {
    margin: 0px;
    width: 100%;
    height: 320px;
    margin-bottom: 24px;
  }
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-text span {
  color: #474747;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
  display: inline-block;
  text-transform: uppercase;
}

.blog-text h2 {
  font-size: 44px;
  line-height: 58px;
  font-weight: 700;
  margin-bottom: 32px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .blog-text h2 {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 24px;
  }
}

.blog-text p {
  font-size: 21px;
  color: #686868;
  line-height: 31px;
  margin-bottom: 90px;
}

@media (max-width: 767px) {
  .blog-text p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
  }
}

.blog-text .redirect {
  color: #3d3c3c;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: capitalize;
}

.blog-text .redirect:hover span {
  transform: translateX(6px);
}

.blog-text .redirect span {
  transform: translateX(12px);
  transition: all 0.3s ease-in-out;
}

.blog-text .btn {
  width: 260px;
  height: 60px;
  font-size: 22px;
  line-height: 33px;
  border-radius: 30px;
  border: 0px;
}

.blog-text .btn:hover {
  background-color: #0dace0;
}

.blog-icon {
  width: 280px;
  display: flex;
  height: 120px;
  align-items: center;
  border-radius: 21px;
  position: absolute;
  left: 12px;
  top: calc(100% - 42px);
  justify-content: center;
  background-color: #fff;
  box-shadow: -1px 15px 34px 2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: -1px 15px 34px 2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: -1px 15px 34px 2px rgba(0, 0, 0, 0.27);
}

@media (max-width: 991px) {
  .blog-icon {
    width: 220px;
    height: 80px;
  }
}

@media (max-width: 767px) {
  .blog-icon {
    width: 140px;
    height: 60px;
    top: calc(100% - 24px);
  }
}

.blog-icon img {
  width: 178px;
  object-fit: contain;
}

@media (max-width: 991px) {
  .blog-icon img {
    width: 160px;
  }
}

@media (max-width: 767px) {
  .blog-icon img {
    width: 80%;
  }
}

.blog-feature .blog-img {
  overflow: visible;
}

@media (max-width: 991px) {
  .blog-feature .blog-img {
    margin-bottom: 60px;
  }
}

.blog-feature .blog-img img {
  border-radius: 24px;
}

.blog-feature .blog-text p {
  margin-bottom: 14px;
}

.blog-feature .blog-text .redirect {
  margin-bottom: 60px;
  display: inline-block;
}

@media (max-width: 767px) {
  .blog-feature .blog-text .redirect {
    margin-bottom: 24px;
  }
}

.work {
  padding: 90px 0px;
  padding-top: 320px;
  position: relative;
  background-color: #f8f8f8;
}

@media (max-width: 1200px) {
  .work {
    padding-top: 90px;
  }
}

.work-heading {
  margin-bottom: 60px;
  text-align: center;
}

.work-heading h2 {
  font-size: 44px;
  font-weight: 500;
  line-height: 58px;
  position: relative;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .work-heading h2 {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
}

.work-heading h2::before {
  content: "";
  width: 6%;
  height: 4px;
  top: -18px;
  left: 50%;
  border-radius: 4px;
  position: absolute;
  transform: translateX(-50%);
  background-color: #0dace0;
}

@media (max-width: 767px) {
  .work-heading h2::before {
    width: 10%;
  }
}

.work-heading p {
  color: #686868;
  font-size: 21px;
  line-height: 1.1;
  font-weight: 700;
  max-width: 860px;
  margin: 0px auto;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .work-heading p {
    font-size: 16px;
  }
}

.investment {
  position: relative;
  background-color: #f8f8f8;
}

@media (max-width: 1200px) {
  .investment {
    padding: 90px 0px;
    padding-bottom: 0px;
  }
}

.investment-content {
  top: -50%;
  z-index: 1;
  width: 70%;
  left: 50%;
  padding: 44px;
  margin: 0px 24px;
  position: absolute;
  border-radius: 24px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  box-shadow: -4px 10px 28px -17px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: -4px 10px 28px -17px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: -4px 10px 28px -17px rgba(0, 0, 0, 0.47);
}

@media (max-width: 1280px) {
  .investment-content {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .investment-content {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0px;
    transform: translate(0);
    position: relative;
  }
}

.investment-initial {
  margin-top: 30px;
  text-align: center;
}

.investment-initial span {
  font-size: 18px;
  color: #3e3e3e;
  line-height: 28px;
  text-transform: capitalize;
}

.investment-initial h6 {
  color: #0dace0;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
}

.investment-initial h6 span {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  transform: all 0.4s linear;
}

.callto {
  padding: 90px 0px;
  position: relative;
}

@media (max-width: 767px) {
  .callto {
    padding: 60px 0px;
  }
}

.callto-content {
  text-align: center;
}

.callto-content p {
  font-size: 18px;
  color: #686868;
  margin: 0px auto;
  line-height: 30px;
  max-width: 680px;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .callto-content p {
    max-width: 100%;
  }
}

.callto-content .btn {
  font-size: 24px;
  line-height: 38px;
  width: 415px;
  height: 72px;
  border-radius: 36px;
  margin: 0px auto;
  border: 0px;
}

@media (max-width: 767px) {
  .callto-content .btn {
    width: 320px;
    height: 60px;
  }
}

.callto-content .btn:hover {
  background-color: #0dace0;
}

.finance {
  padding: 90px 0px;
  position: relative;
  background-color: #223043;
}

.finance-heading {
  color: #fff;
  margin-bottom: 80px;
  text-align: center;
}

.finance-heading h2 {
  font-size: 38px;
  line-height: 48px;
  max-width: 720px;
  margin: 0px auto;
}

@media (max-width: 767px) {
  .finance-heading h2 {
    font-size: 28px;
    line-height: 1.2;
  }
}

.how {
  position: relative;
  padding: 90px 0px;
}

.how-heading {
  text-align: center;
  margin-bottom: 120px;
}

@media (max-width: 767px) {
  .how-heading {
    margin-bottom: 90px;
  }
}

.how-heading h2 {
  position: relative;
  color: #3d3c3c;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
}

.how-heading h2::after {
  content: "";
  top: -12px;
  left: 50%;
  width: 6%;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  background-color: #0dace0;
  transform: translateX(-50%);
}

.how .col-lg-6:nth-last-child(1) .flow-icon::after {
  display: none;
}

.flow {
  display: grid;
  grid-auto-rows: 240px;
  gap: 60px;
}

@media (max-width: 1200px) {
  .flow {
    gap: 24px;
  }
}

@media (max-width: 991px) {
  .flow {
    grid-auto-rows: 320px;
  }
}

@media (max-width: 575px) {
  .flow {
    grid-auto-rows: auto;
  }
}

.flow-right {
  grid-template-columns: 120px 480px;
}

@media (max-width: 1200px) {
  .flow-right {
    grid-template-columns: 120px 1fr;
  }
}

@media (max-width: 575px) {
  .flow-right {
    grid-template-columns: 1fr;
  }
}

.flow-left {
  text-align: right;
  grid-template-columns: 480px 120px;
}

@media (max-width: 1200px) {
  .flow-left {
    text-align: left;
    grid-template-columns: 120px 1fr;
  }
}

@media (max-width: 575px) {
  .flow-left {
    grid-template-columns: 1fr;
  }
}

.flow-left .flow-icon {
  order: 2;
}

@media (max-width: 1200px) {
  .flow-left .flow-icon {
    order: 0;
  }
}

.flow-icon {
  width: 120px;
  height: 120px;
  display: flex;
  flex-shrink: 0;
  z-index: 9;
  color: #bfbfbf;
  position: relative;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 7px solid #bfbfbf;
  background-color: #fff;
}

.flow-icon::after {
  content: "";
  top: 100%;
  width: 5px;
  height: 120%;
  position: absolute;
  background-color: #ebebeb;
  z-index: -1;
}

@media (max-width: 991px) {
  .flow-icon::after {
    height: 200%;
  }
}

@media (max-width: 575px) {
  .flow-icon::after {
    display: none;
  }
}

.flow-text h2 {
  font-size: 24px;
  color: #3d3c3c;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 16px;
}

.flow-text p {
  font-size: 20px;
  line-height: 30px;
  color: #686868;
}
/*# sourceMappingURL=main.css.map */