* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
blockquote {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

input,
button,
.btn {
  border: 0px;
}

input:focus, input:active,
button:focus,
button:active,
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  background-color: transparent;
}

body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.btn {
  color: #fff;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  align-items: center;
  border-radius: 24px;
  text-overflow: ellipsis;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.3 ease-in;
  background-color: #0dace0;
  border: 1px solid transparent;
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.counter {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.counter-shape {
  width: 98px;
  height: 98px;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid #0dace0;
}

.counter h2 {
  color: #0dace0;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
}

.counter p {
  color: #515151;
  font-size: 14px;
  line-height: 24px;
}

.article-card {
  width: 100%;
  height: 430px;
  padding: 30px 18px;
  padding-top: 42px;
  position: relative;
  border-radius: 28px;
  text-align: center;
  border: 2px solid #0dace0;
}

@media (max-width: 1400px) {
  .article-card {
    height: 100%;
  }
}

.article-card:hover blockquote a span {
  transform: translateX(6px);
}

.article-card-number {
  width: 68px;
  height: 68px;
  display: flex;
  top: -34px;
  left: 50%;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  transform: translateX(-50%);
  border: 5px solid #0dace0;
}

.article-card-number h6 {
  color: #0dace0;
  font-size: 30px;
  line-height: 46px;
  font-weight: 500;
}

.article-card-title {
  font-size: 24px;
  font-weight: 700;
  color: #686868;
  line-height: 1.2;
  margin-bottom: 24px;
}

.article-card blockquote p {
  font-size: 18px;
  line-height: 28px;
  max-height: 235px;
  overflow: hidden;
  color: #686868;
  white-space: pre-line;
  text-overflow: ellipsis;
}

@media (max-width: 1400px) {
  .article-card blockquote p {
    max-height: auto;
    max-height: 100%;
  }
}

.article-card blockquote a {
  color: #0dace0;
  font-size: 24px;
  line-height: 34px;
  text-transform: capitalize;
}

.article-card blockquote a span {
  display: inline-block;
  transition: all 0.2s linear;
  transform: translateX(12px);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #021327;
}

header .navbar {
  padding: 30px 0px;
  padding-bottom: 12px;
}

header .navbar-toggler {
  background-color: #fff;
}

header .navbar .nav-item {
  display: flex;
  align-items: center;
  padding: 0px 18px !important;
}

@media (max-width: 991px) {
  header .navbar .nav-item {
    padding: 12px 18px !important;
  }
}

header .navbar .nav-link {
  font-size: 12px;
  line-height: 18px;
  position: relative;
  padding: 0px !important;
  color: #fff !important;
  text-transform: capitalize;
}

header .navbar .nav-link::before {
  content: "";
  top: calc(100% + 4px);
  left: 0%;
  width: 100%;
  height: 2px;
  opacity: 0;
  border-radius: 4px;
  position: absolute;
  background-color: #0dace0;
  transition: all 0.3s ease-out;
}

header .navbar .nav-link:hover::before, header .navbar .nav-link.active::before {
  opacity: 1;
}

header .navbar .nav-btn {
  width: 140px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  align-items: center;
  border-radius: 24px;
  text-overflow: ellipsis;
  justify-content: center;
  transition: all 0.3 ease-in;
  background-color: #0dace0;
  border: 1px solid transparent;
}

header .navbar .nav-btn:hover {
  border-color: #ffff;
  background-color: #021327;
}

header .navbar .nav-btn:nth-child(1) {
  margin-right: 16px;
}

header .navbar .nav-btn::before {
  display: none;
}

header .navbar .nav-btn--sm {
  width: 108px;
  text-transform: uppercase;
}

.feature {
  padding: 90px 0px;
  position: relative;
}

.banner {
  z-index: 1;
  height: 870px;
  overflow: hidden;
  margin-top: 120px;
  position: relative;
}

@media (max-width: 767px) {
  .banner {
    height: 100%;
  }
}

.banner::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.562);
}

.banner-content {
  text-align: center;
  padding-top: 180px;
}

@media (max-width: 767px) {
  .banner-content {
    padding: 68px 0px;
  }
}

.banner-content h2,
.banner-content p {
  color: #fff;
}

.banner-content h2 {
  font-size: 46px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .banner-content h2 {
    font-size: 32px;
    line-height: 46px;
  }
}

.banner-content p {
  font-size: 14px;
  line-height: 21px;
  max-width: 680px;
  margin: 0px auto;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .banner-content p {
    max-width: 100%;
  }
}

.banner-actions .btn {
  width: 160px;
  height: 46px;
  margin: 0px auto;
  margin-bottom: 12px;
}

.blog {
  position: relative;
  padding: 90px 0px;
}

.blog-content {
  display: flex;
  transition: all 0.3s ease-in;
}

@media (max-width: 991px) {
  .blog-content {
    flex-direction: column;
  }
}

.blog-img {
  width: 535px;
  height: 556px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  border-radius: 24px;
  margin-right: 120px;
}

@media (max-width: 1200px) {
  .blog-img {
    margin-right: 60px;
  }
}

@media (max-width: 991px) {
  .blog-img {
    margin: 0px;
    width: 100%;
    height: 320px;
    margin-bottom: 24px;
  }
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-text span {
  color: #474747;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
  display: inline-block;
  text-transform: uppercase;
}

.blog-text h2 {
  font-size: 44px;
  line-height: 58px;
  font-weight: 700;
  margin-bottom: 32px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .blog-text h2 {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 24px;
  }
}

.blog-text p {
  font-size: 21px;
  color: #686868;
  line-height: 31px;
  margin-bottom: 90px;
}

@media (max-width: 767px) {
  .blog-text p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
  }
}

.blog-text .redirect {
  color: #3d3c3c;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: capitalize;
}

.blog-text .redirect:hover span {
  transform: translateX(6px);
}

.blog-text .redirect span {
  transform: translateX(12px);
  transition: all 0.3s ease-in-out;
}

.blog-text .btn {
  width: 260px;
  height: 60px;
  font-size: 22px;
  line-height: 33px;
  border-radius: 30px;
  border: 0px;
}

.blog-text .btn:hover {
  background-color: #0dace0;
}

.blog-icon {
  width: 280px;
  display: flex;
  height: 120px;
  align-items: center;
  border-radius: 21px;
  position: absolute;
  left: 12px;
  top: calc(100% - 42px);
  justify-content: center;
  background-color: #fff;
  box-shadow: -1px 15px 34px 2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: -1px 15px 34px 2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: -1px 15px 34px 2px rgba(0, 0, 0, 0.27);
}

@media (max-width: 991px) {
  .blog-icon {
    width: 220px;
    height: 80px;
  }
}

@media (max-width: 767px) {
  .blog-icon {
    width: 140px;
    height: 60px;
    top: calc(100% - 24px);
  }
}

.blog-icon img {
  width: 178px;
  object-fit: contain;
}

@media (max-width: 991px) {
  .blog-icon img {
    width: 160px;
  }
}

@media (max-width: 767px) {
  .blog-icon img {
    width: 80%;
  }
}

.blog-feature .blog-img {
  overflow: visible;
}

@media (max-width: 991px) {
  .blog-feature .blog-img {
    margin-bottom: 60px;
  }
}

.blog-feature .blog-img img {
  border-radius: 24px;
}

.blog-feature .blog-text p {
  margin-bottom: 14px;
}

.blog-feature .blog-text .redirect {
  margin-bottom: 60px;
  display: inline-block;
}

@media (max-width: 767px) {
  .blog-feature .blog-text .redirect {
    margin-bottom: 24px;
  }
}

.work {
  padding: 90px 0px;
  position: relative;
  background-color: #f8f8f8;
}

.work-heading {
  margin-bottom: 60px;
  text-align: center;
}

.work-heading h2 {
  font-size: 44px;
  font-weight: 500;
  line-height: 58px;
  position: relative;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .work-heading h2 {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
}

.work-heading h2::before {
  content: "";
  width: 6%;
  height: 4px;
  top: -18px;
  left: 50%;
  border-radius: 4px;
  position: absolute;
  transform: translateX(-50%);
  background-color: #0dace0;
}

@media (max-width: 767px) {
  .work-heading h2::before {
    width: 10%;
  }
}

.work-heading p {
  color: #686868;
  font-size: 21px;
  line-height: 1.1;
  font-weight: 700;
  max-width: 860px;
  margin: 0px auto;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .work-heading p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */